 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1109px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 60px 118px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 25px 25px;
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  min-height: 849px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 29px;
}

.u-section-1 .u-image-1 {
  width: 152px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 500;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 16px 20px 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  border-style: solid;
  margin: 21px auto 0;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 29px;
}

.u-section-1 .u-image-2 {
  width: 152px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 500;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 16px 20px 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  border-style: solid;
  margin: 21px auto 0;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 29px;
}

.u-section-1 .u-image-3 {
  width: 152px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 16px 20px 0;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  border-style: solid;
  margin: 21px auto 0;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 29px;
}

.u-section-1 .u-image-4 {
  width: 152px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 16px 20px 0;
}

.u-section-1 .u-btn-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  border-style: solid;
  margin: 21px auto 0;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 29px;
}

.u-section-1 .u-image-5 {
  width: 152px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 16px 20px 0;
}

.u-section-1 .u-btn-10 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  border-style: solid;
  margin: 21px auto 0;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 29px;
}

.u-section-1 .u-image-6 {
  width: 152px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 16px 20px 0;
}

.u-section-1 .u-btn-12 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  border-style: solid;
  margin: 21px auto 0;
  padding: 10px 41px 10px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 52px;
    margin-bottom: -213px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 823px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1 .u-btn-5 {
    padding: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1 .u-btn-7 {
    padding: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    padding-right: 45px;
    padding-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -446px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1263px;
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 41px;
    padding-right: 41px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 41px;
    padding-right: 41px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-6 {
    padding-left: 41px;
    padding-right: 41px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-8 {
    padding-left: 41px;
    padding-right: 41px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-10 {
    padding-left: 41px;
    padding-right: 41px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-12 {
    padding-left: 41px;
    padding-right: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 40px;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 40px;
    margin-bottom: -739px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 15px 15px;
    min-height: 1220px;
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 44px;
    padding-left: 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 44px;
    padding-left: 39px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 44px;
    padding-left: 39px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 44px;
    padding-left: 39px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    padding-right: 44px;
    padding-left: 39px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    padding-right: 44px;
    padding-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2609px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
    margin-bottom: -1268px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2471px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 26px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 26px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 26px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 26px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 26px;
  }
} .u-section-2 {
  background-image: linear-gradient(#312f38, #1f2128);
}

.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-list-1 {
  width: 533px;
  margin: 113px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  min-height: 492px;
  grid-gap: 21px 21px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 27px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 51px;
  width: 51px;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 27px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 22px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 27px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 27px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 22px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: normal;
  font-size: 1rem;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.2;
  margin: -488px 638px 0 40px;
}

.u-section-2 .u-form-1 {
  height: 348px;
  margin: 61px 620px 60px 40px;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-2 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-2 .u-input-2 {
  font-size: 0.875rem;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.u-section-2 .u-input-3 {
  font-size: 0.875rem;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-list-1 {
    width: 494px;
    margin-top: 114px;
    margin-right: auto;
    margin-left: 446px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -499px;
    margin-right: 513px;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    margin: 65px 513px 3px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-2 .u-list-1 {
    width: 533px;
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 506px;
  }

  .u-section-2 .u-text-9 {
    width: 427px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-form-1 {
    width: 480px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1771px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}